// Placeholder for google-services.json for the dev flavor.
//
// You should replace this file with your actual google-services.json
// file from the Firebase Console, specific to the 'dev' flavor.
//
// Instructions:
// 1. Go to the Firebase Console and download the google-services.json file 
//    for your 'dev' app configuration.
// 2. Place the google-services.json file in this directory:
//    android/app/src/dev/google-services.json
//
// It's safe to delete this .sample file after you've added the actual file.